<div class="container mt-5 mb-5">
    <h1>Contactos</h1>
    <form class="col-lg-8">
        <div class="row">
          <div class="col-lg-6 mt-2 mb-2">
            <input type="text" class="form-control" placeholder="Ingrese su nombre" [(ngModel)]="nombre" required>
          </div>
          <div class="col-lg-6 mt-2 mb-2">
            <input type="text" class="form-control" placeholder="Ingrese su apellido" [(ngModel)]="apellido" required>
          </div>
          <div class="col-lg-12 mt-2 mb-2">
            <input type="text" class="form-control" placeholder="Ingrese su Email" [(ngModel)]="email" required>
          </div>
          <div class="col-lg-12 mt-2 mb-2">
            <input type="text" class="form-control" placeholder="Ingrese su teléfono" [(ngModel)]="telefono" required>
          </div>
          <div>
            <textarea class="form-control" name="" id="" cols="30" rows="10" placeholder="Ingrese su mensaje"></textarea>
          </div>
        </div>
        <div class="col-lg-12">                                                                                                 
                <button class="btn btn-md btn-dark" (ngSubmit)="enviarFormulario()">Enviar</button>
            </div>
      </form>